@media screen and (min-width:300px){
    .images-slider{
        width: 100vw;
        height: 100vh;
    }
    .slider-1,.slider-2,.slider-3{
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .slider-1{
        background-image: url('../../../../assets/images/estaEsLaPropia.gif');
        animation:fade1 8s infinite;
        -webkit-animation: fade1 8s infinite;
    }
    .slider-2{
        background-image: url('../../../../assets/images/nublado.gif');
        animation:fade2 8s infinite;
        -webkit-animation: fade2 8s infinite;
    }
    .slider-3{
        background-image: url('../../../../assets/images/lluvia.gif');
        animation:fade3 8s infinite;
        -webkit-animation: fade3 8s infinite;
    }
    @keyframes fade1{
        0% {opacity: 1}
        33.333% {opacity: 0}
        66.666% {opacity: 0}
        100% {opacity: 1;}
    }
    @keyframes fade2{
        0% {opacity: 0}
        33.333% {opacity: 1}
        66.666% {opacity: 0}
        100% {opacity: 0;}
    }
    @keyframes fade3{
        0% {opacity: 0}
        33.333% {opacity: 0}
        66.666% {opacity: 1}
        100% {opacity: 0;}
    }
}